<h2>Registrati</h2>
<form method="post" action="/register">
  <input type="text" placeholder="username" name="username">
  <input type="password" placeholder="Password" name="password">
  <input type="submit" value="Registrati"></input>
</form>
